body {
    background: url(../images/starwars_background.png);
    background-color: rgb(5, 6, 14);
    background-position: top left;
    background-repeat: repeat;
}

nav {
    background-color: rgb(19, 19, 19);
    color: rgb(173, 173, 173);
}

.jumbotron {
    margin: 30px;
    width: 80%;
    height: 800px;
    background-color: rgb(19, 19, 19);
    color: rgb(173, 173, 173);
    padding: 10px;
}

#first {
    height: 400px;
}

.char {
    border: 2px solid green;
    background-color: rgb(173, 173, 173);
    color: rgb(19, 19, 19);
    padding: 0 20px;
    margin: 10px 20px;
    display: inline-block;    
 }

 .char img {
    object-fit: cover;
    width: 150px;
    height: 150px;
 }

 .att {
    margin: 10px;
 }

 .btn {
    margin: 50px 0 0 0;
    padding: 20px 50px;
    font-size: 20px;
 }

 .charHP {
    display: block;
 }